body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CardsInternos{
    text-align: center;
    background-color: black;
    border-radius: 50px;
    width: 500px;
    padding: 5em;
}

.botao{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: beige;
    font-size: 50px;
    border: 1em;
    border-radius: 10px;
    width: 5em;
    height: 3em;


}

.letras_cards{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: wheat;

}
